@font-face {
	font-family: "Futura";
	src: url("../assets/fonts/FuturaStd-Medium.woff") format('woff');
}
@font-face {
	font-family: "Futura";
	font-style: italic;
	src: url("../assets/fonts/FuturaStd-MediumOblique.woff") format('woff');
}
@font-face {
	font-family: "Futura";
	font-weight: bold;
	src: url("../assets/fonts/FuturaStd-Heavy.woff") format('woff');
}
@font-face {
	font-family: "Futura";
	font-weight: bold;
	font-style: italic;
	src: url("../assets/fonts/FuturaStd-HeavyOblique.woff") format('woff');
}
@font-face {
	font-family: "FuturaExtraBold";
	src: url("../assets/fonts/FuturaStd-ExtraBold.woff") format('woff');
}
@font-face {
	font-family: "FuturaExtraBold";
	font-style: italic;
	src: url("../assets/fonts/FuturaStd-ExtraBoldOblique.woff") format('woff');
}
@font-face {
	font-family: "FuturaLight";
	src: url("../assets/fonts/FuturaStd-Light.woff") format('woff');
}
@font-face {
	font-family: "FuturaLight";
	font-style: italic;
	src: url("../assets/fonts/FuturaStd-LightOblique.woff") format('woff');
}

// @font-face {
// 	font-family: 'CircularPro';
// 	font-style: normal;
// 	src: url("../assets/fonts/circularpro-book-web.woff2") format('woff2');
// }

// @font-face {
// 	font-family: 'CircularPro';
// 	font-weight: bold;
// 	src: url("../assets/fonts/circularpro-bold-web.woff2") format('woff2');
// }