@import "_includes.less";
@import "fonts.less";
@import "reset.less";
@import "components/form.less";
@import "components/infinitelist.less";

body, html {
    padding: 0;
    margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "FuturaLight", Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: @mainColor_normal;
	width: 100%;
	height: 100%;
}

h1 {
	font-weight: bold;
	text-align: center;
	font-size: 40px;
	font-family: "Futura";
}
		
h2 {
	font-family: "Futura";
	font-weight: bold;
	font-size: 25px;
	border-bottom: 1px solid;
	padding-bottom: 5px;
	margin-bottom: 5px;
	text-align: center;
	padding: 10px;
	color: @mainColor_dark;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: @mainColor_normal_light;
	&.highlight {
		color: #fff;
		background-color: @mainColor_normal;
	}
}

.subtitle {
	font-family: "Futura";
	text-align: center;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: @mainColor_highlight;
}

.frame {
	border: 1px solid @mainColor_dark;
	border-radius: 10px;
	overflow: hidden;
	h1 {
		background-color: @mainColor_dark;
		color: #fff;
		padding: 10px;
	}
}

.backBt {
	margin: auto;
	position: absolute !important;
	left: 10px;
	top: 10px;
	width: 40px;
	height: 40px;
}

.header {
	font-size: 20px;
	margin-bottom: 20px;
	padding: 20px;
	color: @mainColor_dark;
	border-radius: 25px;
	// border-bottom-left-radius: 5px;
	// border-bottom-right-radius: 5px;
	background-color: @mainColor_normal_light;
}


@media only screen and (max-width: 500px) {
	h1 {
		font-size: 30px;
	}
}


//Expose color theme to JS
#lessVars {
	.mainColor_light{ color:@mainColor_light; }
	.mainColor_normal{ color:@mainColor_normal; }
	.mainColor_dark{ color:@mainColor_dark; }
	.mainColor_highlight{ color:@mainColor_highlight; }
	.mainColor_warn{ color:@mainColor_warn; }

	.mainColor_light_light{ color:@mainColor_light_light; }
	.mainColor_normal_light{ color:@mainColor_normal_light; }
	.mainColor_dark_light{ color:@mainColor_dark_light; }
	.mainColor_highlight_light{ color:@mainColor_highlight_light; }
	.mainColor_warn_light{ color:@mainColor_warn_light; }

	.mainColor_light_extralight{ color:@mainColor_light_extralight; }
	.mainColor_normal_extralight{ color:@mainColor_normal_extralight; }
	.mainColor_dark_extralight{ color:@mainColor_dark_extralight; }
	.mainColor_highlight_extralight{ color:@mainColor_highlight_extralight; }
	.mainColor_warn_extralight{ color:@mainColor_warn_extralight; }
}